
<div class="container">
  <div class="row">
    <h1>User details</h1>
    <hr>
    <!-- <button class="btn btn-primary" (click)="getUser()">Get User</button>
    <div *ngFor="let user of users">
    <p>{{user.name}}</p>
    <p>{{user.date}}</p>
    <p>{{user.author}}</p>
    <p>{{user.price}}</p>
  </div> -->
  <button class="btn btn-primary" (click)="getNames()">Get Names</button>
  <div *ngIf="showUser">
    <ul class="list-group" *ngFor="let usernames of userNames" >
      <li class="list-group-item">{{usernames}}</li>
    </ul>
  </div>

    
  </div>
</div>
